@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<hr />
<h1>From Book List</h1>
<ul>
    <li>Wasted in Engineering</li>
    <li>It Happens For a Reason</li>
    <li>The leader In You</li>
    <li>The One Minute Manager</li>
</ul>